
.navbar {
    height: 100px;
    padding: 10px;
    color: whitesmoke;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 48%, rgba(2, 0, 36, 1) 100%);
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.8s ease-in-out;
    z-index: 9;
}

.navbar_scroll {
    height: 80px;
    transition: all 0.8s ease-in-out;
    position: sticky;
}

.logo {
    width: 120px;
    transition: all 0.8s ease-in-out;
}

.logo_scroll {
    width: 90px;
    transition: all 0.8s ease-in-out;
}

.link {
    text-decoration: none;
    color: whitesmoke;
}

.active {
    position: relative;
    text-decoration: none;
    color: whitesmoke;
}

.active:before {
    content: '';
    width: 82%;
    position: absolute;
    left: 10px;
    bottom: 0;
    border-width: 0 0 1px;
    border-style: solid;
    color: whitesmoke;
}


.hide_element {
    display: none;
}

.add_row:after {
    content: "›";
    position: absolute;
    /*color: #ED3E44;*/
    font-size: 24px;
    font-weight: bold;
    transform: rotate(90deg);
    top: -2px;
    right: -5px;
}
.menu_button {
    display: none;
}

.menu{
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    justify-content: space-between;
}

.menu li{
    width: 100px;
    list-style: none;
    background: transparent;
    position: relative;
}

.menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    transition: all .5s;
}

.menu a:hover {
    /*background: #808291;*/
}

.menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    /*padding: 0;*/
    background-color: #06024f;
    padding: 10px;
    z-index: 10;
    width: 100%;
}

.menu li:hover > ul {
    display: block;
}

@media screen and (max-width: 767px) {
    .menu {
        flex-direction: column;
        justify-content: center;
        display: none;
        margin-left: -20%;
    }
    .menu_wrapper div {
        margin: 0 auto;
    }
    .menu a {
        /*font-size: 16px;*/
    }

    .menu_button {
        display: block;
    }
    .active {
        position: relative;
        text-decoration: none;
        color: whitesmoke;
        margin-left: 10px;
    }

    .active:before {
        content: "▶";
        width: 0;
        position: absolute;
        top: -1px;
        left: -20px;

    }
    .navbar {
        justify-content: space-between;
        column-gap: 10px;
        padding: 10px 30px;
        height: auto;
    }
    .show_element1 {
        display: block;
    }
    .hide_element {
        display: none;
    }
    .logo, .logo_scroll {
        width: 90px;
        transition: all 0.8s ease-in-out;
    }
}