.card_wrapper {
    width: 45%;
    min-width: 380px;
}

.card {
    background-color: whitesmoke;
    padding: 0;
    height: 100%;
}

.date {
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 20px;*/
    /*background-color: whitesmoke;*/
    /*opacity: .5;*/
    padding: 10px;
    /*border-radius: 8%;*/
    font-size: 14px;
}