.container {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter', 'Nunito Sans', sans-serif;
    color: #1e1e1e;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    color: #1e1e1e;
    font-size: 17px;
    line-height: 1.6rem;
}

.page_container {
    max-width: 1160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 30px;
    height: 100%;
}