@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    /*padding: 20px;*/
    box-sizing: border-box;
}

h1, h2, h3, h3, h5 {
    font-family: 'Inter', 'Nunito Sans', sans-serif;
    color: #1e1e1e;
}
h2 {
    text-align: center;
}
p {
    font-family: 'Nunito Sans',  sans-serif;
    color: #1e1e1e;
    font-size: 17px;
    /*letter-spacing: 0.03rem;*/
    line-height: 1.6rem;
}

.page_container {
    width: 1160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 30px;
    /*width: '60%', display: 'flex', justifyContent: 'center', flexDirection: 'column',*/
    /*backgroundColor: 'whitesmoke', padding: '30px'*/
}